<%
  edition ||= ""
  form ||= ""
  important_note ||= ""
  index ||= 0
%>

<div class="govuk-accordion">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <div class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id=<%="accordion-default-heading-#{index}"%>>
        </span>
      </div>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      <table
        style="width: 100%;"
      >
        <tr
          colspan="5"
        >
          <th>Edition</th>
          <td><%= edition %></td>
        </tr>
        <tr>
          <th>Format</th>
          <td><%= form %></td>
        </tr>
        <tr>
          <th>Important Note</th>
          <td><%= important_note %></td>
        </tr>
      </table>
    </div>
  </div>
</div>