<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds accordion-hack" data-module="govuk-accordion gem-accordion" id="accordion-default">
    <%= render "components/table", {
      head: [
        {
          text: "Title",
          format: "text",
        },
        {
          text: "Assigned to",
          format: "text",
        },
        {
          text: "Status",
          format: "text",
        },
        {
          text: "",
          colspan: 3
        }
      ],
      rows: @presenter.all.reduce([]) do | acc, document |
        row = document.as_json.with_indifferent_access

        acc.push(
          [
            [
              {
                text: sanitize("<div><p>#{row[:title]}</p><span>Last updated: #{ Date.strptime(row[:updated_at], '%Y-%m-%d')}</div>")
              },
              {
                text: row[:assignee]
              },
              {
                text: row[:state]
              },
              {
                text: sanitize("<span class='accordion-hack__button-space'></span>", attributes: %w(class))
              }
            ],
            [
              {
                colspan: 5,
                text: sanitize(%q(
                  <div class="govuk-accordion" >
                    <div class="govuk-accordion__section">
                      <div class="govuk-accordion__section-header">
                        <h2 class="govuk-accordion__section-heading">
                          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                          </span>
                        </h2>
                      </div>
                      <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                          <table
                            style="width: 100%;"
                          >
                            <tr
                              colspan="5"
                            >
                              <th>Edition</th>
                              <td>Example</td>
                            </tr>
                            <tr>
                              <th>Format</th>
                              <td>Example</td>
                            </tr>
                            <tr>
                              <th>Important Note</th>
                              <td>Example</td>
                            </tr>
                          </table>
                      </div>
                    </div>
                  </div>
                ), tags: %w(div p h2 span table th td tr), attributes: %w(id class data-module))
              }
            ]
          ]
        )
      end
    } %>
  </div>
</div>