.smart-answer-flowchart {
  .mermaid {
    background-color: #ffffff;
  }

  .flowchart--hidden,
  .flowchart__loading--hidden {
    visibility: hidden;
  }

  .flowchart__loading {
    text-align: center;
  }

  pre {
    word-break: normal;
  }
}
